<!DOCTYPE html>

<html lang="de">

<head>
    <base href="http://www.stamm-luchs.de/">
    <link rel="shortcut icon" href="css/layout/icon.png">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pfadfinder Gossersweiler-Stein | BdP Stamm Luchs</title>
    <meta name="title" content="Stamm Luchs">
    <meta name="description" content="Wilkommen auf der offiziellen Homepage des BdP Stammes Luchs aus Gossersweiler-Stein. Hier finden Sie sämtliche Informationen zu unserem Stamm.">
    <link rel="stylesheet" href="css/standard.css" />
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Lato:400,300,200' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <h1>BdP Stamm Luchs</h1>
        <br>
        <h2>Pfadfinder Gossersweiler-Stein</h2>
    </header>
