<div id="wrapper">
    <img id="pagelogo" src="res/layout/stammzeichn.png">

    <nav>
        <ul>
            <li class="nav-index nav-index-2014 nav-index-2013">
                <a href="index.html">Blog</a>
                <ul>
                    <li class="nav-index-2015"><a href="index.html">2015</a>
                    </li>
                    <li class="nav-index-2014"><a href="index-2014.html">2014</a>
                    </li>
                    <li class="nav-index-2013"><a href="index-2013.html">2013</a>
                    </li>
					<li class="nav-index-2011"><a href="index-2011.html">2011</a>
                    </li>
                </ul>
            </li>
			<li class="nav-bilder">
                <a href="bild2015.html">Galerie</a>
                <ul>
                    <li class="nav-index-2015"><a href="bild2015.html">2015</a>
                    </li>
                    <li class="nav-index-2014"><a href="bild2014.html">2014</a>
                    </li>
                    <li class="nav-index-2013"><a href="bild2013.html">2013</a>
                    </li>
					<li class="nav-index-2012"><a href="bild2012.html">2012</a>
                    </li>
					<li class="nav-index-2011"><a href="bild2011.html">2011</a>
                    </li>
                </ul>
            </li>
            <li class="nav-stamm nav-woelflinge nav-pfadfinder nav-rr nav-gruppenstunden nav-termine nav-equipment nav-member">
                <a href="stamm.html">Der Stamm</a>
                <ul>
                    <li class="nav-woelflinge"><a href="stamm/woelflinge.html">Wölflinge</a>
                    </li>
                    <li class="nav-pfadfinder"><a href="stamm/pfadfinder.html">Pfadfinder</a>
                    </li>
                    <li class="nav-rr"><a href="stamm/rr.html">Ranger/Rover</a>
                    </li>
                    <li class="nav-gruppenstunden"><a href="stamm/gruppenstunden.html">Gruppenstunden</a>
                    </li>
                    <li class="nav-termine"><a href="stamm/termine.html">Termine</a>
                    </li>
                    <li class="nav-equipment"><a href="stamm/equipment.html">Ausrüstung</a>
                    </li>
                    <li class="nav-member"><a href="stamm/member.html">Für Mitglieder</a>
                    </li>
                </ul>
            </li>
            <li class="nav-bdp nav-versprechen nav-stufen nav-kluft nav-fahrt nav-kohte nav-jurte nav-musik">
                <a href="bdp.html">BdP</a>
                <ul>
                    <li class="nav-versprechen"><a href="bdp/versprechen.html">Das Versprechen</a>
                    </li>
                    <li class="nav-stufen"><a href="bdp/stufen.html">Die Stufen</a>
                    </li>
                    <li class="nav-kluft"><a href="bdp/kluft.html">Die Kluft</a>
                    </li>
                    <li class="nav-fahrt"><a href="bdp/fahrt.html">Die Fahrt</a>
                    </li>
                    <li class="nav-kohte"><a href="bdp/kohte.html">Die Kohte</a>
                    </li>
                    <li class="nav-jurte"><a href="bdp/jurte.html">Die Jurte</a>
                    </li>
                    <li class="nav-musik"><a href="bdp/musik.html">Die Musik</a>
                    </li>
                </ul>
            </li>
            <li class="nav-history">
                <a href="history.html">Pfadfindergeschichte</a>
            </li>
        </ul>
    </nav>
    <section>
        <main>
