* {
    margin: 0;
    padding: 0;
}
html {
    background-attachment: fixed;
    background-color: #fffbef;
    background-size: auto;
    font-family: 'Open Sans', 'serif';
    height: 100%;
}
#wrapper {
    background-color: #FFF;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 100%;
}
#head {
    /*background-image:url(../grafik/background.jpg);
background-position:center;*/
    background-color: rgba(30, 30, 30, 1);
    background-size: 100% auto;
    color: #282828;
    font-size: 20px;
    height: 140px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#head a {
    color: #282828;
    font-size: 40px;
    text-decoration: none;
}
#head a.col:hover {
    color: #243556;
}
.navbar {
    background-color: #2756b6;
    font-family: 'Amatic SC', cursive;
    height: 57px;
    padding: 0 17.5%;
}
.navbar a {
    color: #dedede;
    font-size: 30px;
    padding: 10px 12px;
    text-align: justify;
    text-decoration: none;
}
.navbar a:hover {
    color: #dedede;
}
.navbar a:hover ul {
    display: inline-block;
}
.navbar li.item {
    background-color: #2756b6;
    float: left;
    list-style-type: none;
    padding: 10px 0;
    position: relative;
    z-index: 7;
}
.navbar li.single {
    padding: 10px 12px;
}
.navbar li ul {
    display: none;
    margin: 5px 0 0;
    padding: 0;
    position: relativ;
    z-index: 7;
}
.navbar li:hover ul {
    display: inline;
    z-index: 7;
}
.navbar li ul li {
    background-color: #224a9c;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    width: 190px;
    z-index: 7;
}
.navbar li:hover {
    background-color: #224a9c;
}
.navbar li ul li:hover {
    background-color: #1e386f;
}
.navbar a.actuell,
.navbar a.actuell:hover {
    color: #FFF;
}
#main {
    background-color: #FFF;
    height: auto;
    position: relative;
}
#content {
    color: rgba(50, 50, 50, 1);
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    overflow: hidden!important;
    padding: 20px 0 20px 20px;
    position: relative;
    text-align: left;
    width: 65%;
}
#content b {
    font-weight: 400;
}
#content a {
    color: #3b70d3;
    text-decoration: none;
}
#content a:hover {
    color: #112a58;
}
#left {
    float: left;
    font-size: 19px;
    font-weight: 200;
    padding-right: 50px;
    padding-top: 5px;
    text-align: left;
    width: 70%;
}
#right {
    float: left;
    font-size: 15px;
    height: auto;
    width: 22%;
}
#right .header {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Amatic SC', cursive;
    line-height: 40px;
}
.posthead span {
    height: 21px;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #C1CDDB;
}
.posthead span.tag {
    margin-right: 317px;
}
.posthead span dd.right {
    border-right: 0px solid #C1CDDB;
    font-size: 17px;
    float: right;
}
.posthead span dd {
    display: inline;
    padding: 0px 8px 0px 5px;
    border-right: 1px solid #C1CDDB;
}
.contentHeader {
    font-size: 20px;
    font-weight: 500;
}
b.logo {
    color: #FFF;
    font-family: Neucha, cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 18.2%;
    padding-top: 64px;
    position: absolute;
    text-shadow: #000 0 0 2px;
    z-index: 100;
}
#pagelogo {
    float: right;
    margin-left: 65%;
    margin-top: 70px;
    position: absolute;
    z-index: 23;
}
.handwritten {
    font-family: Neucha, cursive;
}
.topictitle {
    color: #0f2451;
    display: inline;
    font-size: 32px;
    margin: 0;
    padding: 0;
}
.eingeruckt {
    margin-left: 40px;
}
.photos {
    margin-top: 8px;
}
.articleinfo {
    font-size: 16px;
}
a.buttonMoreContent {
    border: 1px solid rgba(39, 86, 182, 0.7);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
a.buttonMoreContent:hover {
    background-color: rgba(39, 86, 182, 0.7);
    border: 0 solid rgba(39, 86, 182, 0.7);
    color: #FFF!important;
    cursor: pointer;
}
hr.line {
    background: transparent url(../grafik/hrl.png);
    background-size: 100% 100%;
    border: none;
    height: 1px;
}
.articleimage {
    border: 8px solid #FFF!important;
    box-shadow: 0 0 2px #000;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.highslide-wrapper,
.highslide-outline {
    background: #F7F9FF;
}
.highslide img {
    border: 1px solid #D0D0D0;
}
.highslide:hover img {
    border-color: #A0A0A0;
}
.highslide-image {
    border: 2px solid #FFF;
}
.highslide-caption {
    padding: 2px;
}
.highslide-loading {
    background-color: #FFF;
    background-image: url(graphics/loader.white.gif);
    border: 1px solid #000;
    color: #000;
}
